In [57]:
import pandas as pd
# converting csv to dataframe
df=pd.read_csv('/Users/irawobebeyi/desktop/UoB/project_2/reviews.csv')

In [104]:
df['Date&Time']= pd.to_datetime(df['Date&Time'], format='%Y-%m-%d')

In [89]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681994 entries, 0 to 681993
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  681994 non-null  int64
 1   Name        681989 non-null  object
 2   Review      680642 non-null  object
 3   Rating      681994 non-null  int64
 4   #ThumbsUp   681994 non-null  int64
 5   Date&Time   681994 non-null  datetime64[ns]
 6   App         681994 non-null  object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 36.4+ MB

In [90]:
df_clean = df.dropna(how='all').drop(['Unnamed: 0', '#ThumbsUp', 'Name', 'Review'], axis=1).copy()

In [91]:
df_clean.head()

   Rating           Date&Time     App
0       5 2022-02-18 01:19:00  Tinder
1       3 2022-02-18 01:16:00  Tinder
2       1 2022-02-18 01:11:00  Tinder
3       2 2022-02-18 01:11:00  Tinder
4       5 2022-02-18 01:06:00  Tinder

In [105]:
df_clean[['App', 'Rating', 'Date&Time']]

           App  Rating           Date&Time
0       Tinder       5 2022-02-18 01:19:00
1       Tinder       3 2022-02-18 01:16:00
2       Tinder       1 2022-02-18 01:11:00
3       Tinder       2 2022-02-18 01:11:00
4       Tinder       5 2022-02-18 01:06:00
...        ...     ...                 ...
681989   Hinge       2 2017-12-07 01:44:00
681990   Hinge       1 2017-12-07 01:36:00
681991   Hinge       5 2017-12-07 01:32:00
681992   Hinge       2 2017-12-07 01:28:00
681993   Hinge       2 2017-12-07 01:24:00

[681994 rows x 3 columns]

In [107]:
df_app_rating = pd.DataFrame(df_clean[['App', 'Rating', 'Date&Time']])
df_app_rating

           App  Rating           Date&Time
0       Tinder       5 2022-02-18 01:19:00
1       Tinder       3 2022-02-18 01:16:00
2       Tinder       1 2022-02-18 01:11:00
3       Tinder       2 2022-02-18 01:11:00
4       Tinder       5 2022-02-18 01:06:00
...        ...     ...                 ...
681989   Hinge       2 2017-12-07 01:44:00
681990   Hinge       1 2017-12-07 01:36:00
681991   Hinge       5 2017-12-07 01:32:00
681992   Hinge       2 2017-12-07 01:28:00
681993   Hinge       2 2017-12-07 01:24:00

[681994 rows x 3 columns]

In [109]:
df_app_rating['Year'] = pd.DatetimeIndex(df_app_rating['Date&Time']).year
df_app_rating

           App  Rating           Date&Time  Year
0       Tinder       5 2022-02-18 01:19:00  2022
1       Tinder       3 2022-02-18 01:16:00  2022
2       Tinder       1 2022-02-18 01:11:00  2022
3       Tinder       2 2022-02-18 01:11:00  2022
4       Tinder       5 2022-02-18 01:06:00  2022
...        ...     ...                 ...   ...
681989   Hinge       2 2017-12-07 01:44:00  2017
681990   Hinge       1 2017-12-07 01:36:00  2017
681991   Hinge       5 2017-12-07 01:32:00  2017
681992   Hinge       2 2017-12-07 01:28:00  2017
681993   Hinge       2 2017-12-07 01:24:00  2017

[681994 rows x 4 columns]

In [122]:
df_high_rating = df_app_rating['Rating'] == 5 | df_app_rating['Year'] == 2022

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().