In [15]:
import pandas as pd
# converting csv to dataframe
df = pd.read_csv('resources/reviews.csv')
df

,Unnamed: 0,Name,Review,Rating,#ThumbsUp,Date&Time,App
0,0,linah sibanda,On this app i cant find a partner,5,0,18-02-2022 01:19,Tinder
1,1,Norman Johnson,Tinder would be so much better if we could spe...,3,0,18-02-2022 01:16,Tinder
2,2,David Hume,Still doesn't correctly notify matches or mess...,1,0,18-02-2022 01:11,Tinder
3,3,Last 1 Standing,"Got banned because I updated my bio to say ""I ...",2,0,18-02-2022 01:11,Tinder
4,4,Arthur Magamedov,Love it!,5,0,18-02-2022 01:06,Tinder
...,...,...,...,...,...,...,...
681989,52989,A Google user,Useless - I'm in the UK and it tells me i'm ov...,2,5,12-07-2017 01:44,Hinge
681990,52990,Brian Shook,I can't get past the initial set up. It won't...,1,11,12-07-2017 01:36,Hinge
681991,52991,A Google user,This is incredible! A quality dating app for A...,5,1,12-07-2017 01:32,Hinge
681992,52992,A Google user,"""Over Water"" ... Can't choose location.",2,8,12-07-2017 01:28,Hinge
681993,52993,Dylan Fick,"My entire town counts as ""over water"" and I ca...",2,15,12-07-2017 01:24,Hinge

In [16]:
df['Date&Time']= pd.to_datetime(df['Date&Time'], format='%Y-%m-%d')

ValueError: time data 18-02-2022 01:19 doesn't match format specified

In [ ]:
df.info()

In [ ]:
df_clean = df.dropna(how='all').drop(['Unnamed: 0', '#ThumbsUp', 'Name', 'Review'], axis=1).copy()

In [ ]:
df_clean.head()

In [ ]:
df_clean[['App', 'Rating', 'Date&Time']]

In [ ]:
df_app_rating = pd.DataFrame(df_clean[['App', 'Rating', 'Date&Time']])
df_app_rating

In [ ]:
df_app_rating['Year'] = pd.DatetimeIndex(df_app_rating['Date&Time']).year
df_app_rating

In [ ]:
df_high_rating = df_app_rating['Rating'] == 5 | df_app_rating['Year'] == 2022